<!-- #wrapper -->
<!--Sidebar background-->
<div id="sidebarbg" class="hidden-lg hidden-md hidden-sm hidden-xs"></div>
<!--Sidebar content-->
<div id="sidebar" class="page-sidebar hidden-lg hidden-md hidden-sm hidden-xs" ui-view="sidebar"></div>
<!-- End #sidebar -->
<!--Sidebar background-->
<div id="right-sidebarbg" class="hidden-lg hidden-md hidden-sm hidden-xs"></div>
<!-- Start #right-sidebar -->
<aside id="right-sidebar" class="right-sidebar hidden-lg hidden-md hidden-sm hidden-xs" ui-view="right-sidebar"></aside>
<!-- End #right-sidebar -->
<!--Body content-->
<div id="content" class="page-content clearfix" ui-view="content"></div>
<!-- End #content -->
<div id="footer" class="clearfix sidebar-page right-sidebar-page" ui-view="footer"></div>
<!-- End #footer  -->
