<div class="contentwrapper">
    <!--Content wrapper-->
    <div class="heading">
        <!--  .heading-->
        <h3>Listado de clases de caballo</h3>
    </div>
    <!-- End  / heading-->
    <!-- Start .row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default">
                <!-- Start .panel -->
                <div class="panel-heading white-bg">
                    <h4 class="panel-title">Clases de caballo</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table ng-table="tableParams" class="table table-bordered" show-filter="true">
                            <tr ng-repeat="clase_caballo in $data">
                                <td title="'Nombre'" filter="{ nombreClase_caballo: 'text'}" sortable="'nombreClase_caballo'">
                                    {{clase_caballo.nombreClase_caballo}}
                                </td>
                                <td title="'Creación'" filter="{ creacion: 'text'}" sortable="'creacion'">
                                    {{clase_caballo.creacion}}
                                </td>
                                <td title="'Detalle'">
                                    <button ng-click="detalle(clase_caballo)" class="btn btn-success">Detalle</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div>
    <!-- End .row -->
</div>
<!-- End contentwrapper -->
