<div class="contentwrapper">
    <!--Content wrapper-->
    <div class="heading">
        <!--  .heading-->
        <h3>Edición de historiales de salud</h3>
        <div class="resBtnSearch">
            <a href="#"><span class="s16 icomoon-icon-search-3"></span></a>
        </div>
    </div>
    <!-- End  / heading-->
    <!-- Start .row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Historial de salud 
                        <span class="label label-danger" ng-show="comparar_fechas(historial_salud.fecha_proximaHistorial_salud)">
                            Alerta. Fecha de próximo control superada {{historial_salud.fecha_proximaHistorial_salud}}
                        </span>
                    </h4>
                </div>
                <div class="panel-body pt0 pb0">
                    <form ng-submit="editar_historial_salud()" class="form-horizontal group-border stripped">
                        <div class="form-group">
                            <label class="col-lg-2 col-md-3 control-label" for="">Descripción</label>
                            <div class="col-lg-10 col-md-9">
                                <input type="text" class="form-control" ng-model="historial_salud.descripcionHistorial_salud" name="descripcionHistorial_salud" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-md-3 control-label" for="">Fecha próximo control</label>
                            <div class="col-lg-10 col-md-9">
                                <input type="text" class="form-control" ng-model="historial_salud.fecha_proximaHistorial_salud" name="fecha_proximaHistorial_salud" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-md-3 control-label" for="">Caballo</label>
                            <div class="col-lg-10 col-md-9">
                                <select 
                                    class="form-control" 
                                    id="clase_historial_salud_idClase_historial_salud" 
                                    ng-model="historial_salud.caballo_idCaballo"
                                    ng-options="caballo.idCaballo as caballo.nombreCaballo + ' ' + caballo.pesoCaballo + 'Kg' for caballo in caballos"
                                    >
                                    <option value="">
                                        Seleccione un caballo
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-md-3 control-label" for="">Tratamiento</label>
                            <div class="col-lg-10 col-md-9">
                                <select 
                                    class="form-control" 
                                    id="clase_historial_salud_idClase_historial_salud" 
                                    ng-model="historial_salud.tratamiento_idTratamiento"
                                    ng-options="tratamiento.idTratamiento as tratamiento.nombreTratamiento for tratamiento in tratamientos"
                                    >
                                    <option value="">
                                        Seleccione un tratamiento
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-md-9">
                                <input type="submit" class="btn btn-warning" value="Guardar cambios">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-md-9">
                                <div ng-click="eliminar(historial_salud)" class="btn btn-danger">Eliminar</div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="editado">
                            <div class="col-lg-10 col-md-9">
                                <div class="alert alert-success fade in">
                                    <i class="fa fa-check alert-icon "></i>
                                    <strong>Bien hecho!</strong> Los datos han sido actualizados correctamente.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div>
    <!-- End .row -->
    <!-- End .row -->
</div>
<!-- End contentwrapper -->
